@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

#background-image{
    background-image: url('https://i.pinimg.com/564x/98/f5/a2/98f5a2aa6c644a77d007f9f1ceae64a5.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}